/node_modules
/public/hot
/public/storage
/public/uploads/profile_images/
/public/uploads/posts_images/
/public/resources/file/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
