/* ========================**/ */
.comingsoon-bgimg {
  background: url(../images/other-images/coming-soon-bg.jpg);
  background-position: bottom;
  background-size: cover; }

.comingsoon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 50px 0;
  background-color: rgba(36, 105, 92, 0.1); }
  .comingsoon .comingsoon-inner h5 {
    font-size: 22px;
    letter-spacing: 1px;
    color: #999;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 30px; }
  .comingsoon .comingsoon-inner .countdown {
    padding: 10px 0;
    border-top: 1px solid rgba(36, 105, 92, 0.1);
    border-bottom: 1px solid rgba(36, 105, 92, 0.1); }
    .comingsoon .comingsoon-inner .countdown .time {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 20px;
      color: #fff;
      font-weight: 500;
      width: 10px;
      height: 10px;
      font-size: 6px;
      background: #24695c; }
    .comingsoon .comingsoon-inner .countdown .title {
      padding-top: 13px;
      font-size: 14px;
      font-weight: 600;
      color: rgba(36, 41, 52, 0.7);
      text-transform: uppercase;
      letter-spacing: 1px; }
    .comingsoon .comingsoon-inner .countdown ul li {
      display: inline-block;
      text-transform: uppercase;
      margin: 0 10px; }
      .comingsoon .comingsoon-inner .countdown ul li span {
        display: block; }
  .comingsoon video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    transition: 1s opacity; }

/**=====================
    27. Coming Soon CSS Ends
==========================**/